{% block buttons %}

<div class='span2'>
    <div class='ten'>
        <div class='btn-group'>
          <button data-toggle='dropdown' class='btnten btn btn-primary dropdown-toggle'>Событие
            <span class='caret'></span>
          </button>
          <ul class='dropdown-menu'>
            <li><a href='#AddEvent' id="AddEventBtnOpen" data-toggle='modal'>Создать</a></li>
            <li><a href='{{profile.sMainPage}}/ten'>Редактировать</a></li>
          </ul>
        </div>
        <div id='AddEvent' class='modal hide' aria-hidden='true' style='display: none;'>
        	<div class='modal-header'>
            	<button data-dismiss='modal' class='close' type='button'>×</button>
                <h3>Создать событие</h3>
            </div>
            <div class='modal-body'>
                <form id='form_event' class='form-horizontal' novalidate='novalidate' action="upload/" enctype="multipart/form-data" method="post">
                    <fieldset>
                        <div class='control-group'>
                            <label class='control-label'>Название события<span class='required'>*</span></label>
                            <div class='controls'>
                                <input type='text' name='name' id='name_event' data-required='1' class='span6 m-wrap myinpt'>
                            </div>
                        </div>
                        <div class='control-group'>
                            <label class='control-label'>Список пользователей<span class='required'>*</span></label>
                            <div class='controls'>
                                <div class='group'>
                                    <div class='leadgroup'>
                                        <label class='uniform inline'>
                                                <input class='uniform_on check_all' type='checkbox' checked="checked" disabled id='solouser' value='option1'>
                                        </label>
                                        <div class='inline' id='{{profile.iUserId}}_name'>{{profile.sUserSecondName}} {{profile.sUserName | slice(0,1) }}. {{profile.sUserThirdName | slice(0,1) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='controls'>
                                <div class='group'>
                                {% for user in user_list %}
                                    <div class='leadgroup'>
                                        <label class='uniform inline'>
                                            <input class='uniform_on check_all' type='checkbox' id='{{user.name_group}}' {% if user.name_group =="root" %} disabled checked="checked"{% endif %} value='option1'>
                                        </label>
                                        <div class='inline' id='{{user.name_group}}_name'>{{user.name_group_russia}} <img src='/app/views/assets/img/rotatearrow.png' id='rotategroup' class='rotatearrow'>
                                        </div>
                                        {% for user_group in user.group %}
                                        {% if user_group.iUserId != profile.iUserId %} 
                                        <div class='subgroup' style='display:none'>
                                            <label class='uniform inline'>
                                                <input class='uniform_on chk' type='checkbox' data-user="{{user_group.iUserId}}"  {% if user.name_group =="root" %} disabled checked="checked"{% endif %} value='option1'>
                                            </label>
                                            <div class='inline'>{{user_group.sUserSecondName}} {{user_group.sUserName | slice(0,1) }}. {{user_group.sUserThirdName | slice(0,1) }}.</div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class='control-group'>
                            <label class='control-label'>Ответственный<span class='required'>*</span></label>
                            <div class='controls'>
                                <select class='span6 m-wrap myinpt' id='ot_event' name='category'>
                                    {% for user in user_list %}
                                        {% for user_group in user.group %}
                                            <option {% if user_group.iUserId == profile.iUserId %} selected {% endif %}value='{{user_group.iUserId}}'>{{user_group.sUserSecondName}} {{user_group.sUserName | slice(0,1) }}. {{user_group.sUserThirdName | slice(0,1) }}.</option>
                                        {% endfor %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class='control-group'>
                            <label class='control-label'>Начало/окончание<span class='required'>*</span></label>
                            <div class='controls'>
                                <input class='span4 m-wrap datepicker cursor' readonly type='text' id='startdateevent' placeholder='Начало'> - 
                                <input class='span4 m-wrap datepicker cursor' readonly type='text' id='enddateevent' placeholder='Окончание'>
                            </div>
                        </div>
                        <div class='control-group'>
                            <label class='control-label'>Текст<span class='required'>*</span></label>
                            <div class='controls'>
                                <textarea name='creditcard' type='text' id='text_event' class='span8 m-wrap mytext'></textarea>
                            </div>
                        </div>
                        <div class='control-group'>
                        	{% include 'downloadfile.html' %}
							{% block file %}
							{% endblock %}
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class='modal-footer'>
                <a class='btn btn-primary' id='AddEventBtn' href='#'>Создать</a>
                <a data-dismiss='modal' class='btn' href='#'>Отмена</a>
            </div>
       	</div>
    </div>
    <div class='ten'>
        <div class='btn-group'>
          <button data-toggle='dropdown' class='btnten btn btn-success dropdown-toggle'>Задача
            <span class='caret'></span>
          </button>
          <ul class='dropdown-menu'>
            <li><a href='#AddTask' id="AddTaskBtnOpen" data-toggle='modal'>Создать</a></li>
            <li><a href='{{profile.sMainPage}}/ten'>Редактировать</a></li>
          </ul>
        </div>
		<div id='AddTask' class='modal hide' aria-hidden='true' style='display: none;'>
        	<div class='modal-header'>
            	<button data-dismiss='modal' class='close' type='button'>×</button>
                    <h3>Поставить задачу</h3>
            </div>
            <div class='modal-body'>
                <form id='form_task' class='form-horizontal' novalidate='novalidate' action="upload/" enctype="multipart/form-data" method="post">
                    <fieldset>
                        <div class='control-group'>
                            <label class='control-label'>Название задачи<span class='required'>*</span></label>
                            <div class='controls'>
                                <input type='text' name='name' id='name_task' data-required='1' class='span6 m-wrap myinpt'>
                            </div>
                        </div>
                        <div class='control-group'>
                            <label class='control-label'>Кто видит задачу<span class='required'>*</span></label>
                            <div class='controls'>
                                <div class='group'>
                                    <div class='leadgroup'>
                                        <label class='uniform inline'>
                                                <input class='uniform_on check_all' type='checkbox' checked="checked" disabled id='solouser' value='option1'>
                                        </label>
                                        <div class='inline' id='{{profile.iUserId}}_name'>{{profile.sUserSecondName}} {{profile.sUserName | slice(0,1) }}. {{profile.sUserThirdName | slice(0,1) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='controls'>
                                <div class='group'>
                                {% for user in user_list %}
                                    <div class='leadgroup'>
                                        <label class='uniform inline'>
                                                <input class='uniform_on check_all' type='checkbox' id='optionsCheckbox' {% if user.name_group =="root" %} disabled checked="checked"{% endif %} value='option1'>
                                        </label>
                                        <div class='inline'>{{user.name_group_russia}} <img src='/app/views/assets/img/rotatearrow.png' id='rotategroup' class='rotatearrow'>
                                        </div>
                                        {% for user_group in user.group %}
                                        {% if user_group.iUserId != profile.iUserId %} 
                                        <div class='subgroup' style='display:none'>
                                            <label class='uniform inline'>
                                                    <input class='uniform_on chk' type='checkbox' data-user="{{user_group.iUserId}}"  {% if user.name_group =="root" %} disabled checked="checked"{% endif %} value='option1'>
                                            </label>
                                            <div class='inline'>{{user_group.sUserSecondName}} {{user_group.sUserName | slice(0,1) }}. {{user_group.sUserThirdName | slice(0,1) }}.</div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class='control-group'>
                            <label class='control-label'>Ответственный<span class='required'>*</span></label>
                            <div class='controls'>
                                <select class='span6 m-wrap myinpt' id='taskot' name='category'>
                                    {% for user in user_list %}
                                        {% for user_group in user.group %}
                                            <option {% if user_group.iUserId == profile.iUserId %} selected {% endif %} value='{{user_group.iUserId}}'>{{user_group.sUserSecondName}} {{user_group.sUserName | slice(0,1) }}. {{user_group.sUserThirdName | slice(0,1) }}.</option>
                                        {% endfor %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class='control-group'>
                            <label class='control-label'>Начало/окончание<span class='required'>*</span></label>
                            <div class='controls'>
                                <input class='span4 m-wrap datepicker cursor' readonly type='text' id='startdatetask' placeholder='Начало'> - 
                                <input class='span4 m-wrap datepicker cursor' readonly type='text' id='enddatetask' placeholder='Окончание'>
                            </div>
                        </div>
                        <div class='control-group'>
                            <label class='control-label'>Текст<span class='required'>*</span></label>
                            <div class='controls'>
                                <textarea name='creditcard' type='text' id='text_task' class='span8 m-wrap mytext'></textarea>
                            </div>
                        </div>
                        <div class='control-group'>
							{% include 'downloadfile.html' %}
							{{ block('file') }}
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class='modal-footer'>
                <a class='btn btn-primary' id='AddTaskBtn' href='#'>Создать</a>
                <a data-dismiss='modal' class='btn' href='#'>Отмена</a>
            </div>
       	</div>
    </div>
    <div class='ten'>
        <div class='btn-group'>
          <button data-toggle='dropdown' class='btnten btn btn-danger dropdown-toggle'>Новость
            <span class='caret'></span>
          </button>
          <ul class='dropdown-menu'>
            <li><a href='#AddNews' id="AddNewsBtnOpen" data-toggle='modal'>Создать</a></li>
            <li><a href='{{profile.sMainPage}}/ten'>Редактировать</a></li>
          </ul>
        </div>
		<div id='AddNews' class='modal hide' aria-hidden='true' style='display: none;'>
        	<div class='modal-header'>
            	<button data-dismiss='modal' class='close' type='button'>×</button>
                    <h3>Создать новость</h3>
            </div>
            <div class='modal-body'>
                <form id='form_news' class='form-horizontal' novalidate='novalidate' action="upload/" enctype="multipart/form-data" method="post">
                    <fieldset>
                        <div class='control-group'>
                            <label class='control-label'>Название новости<span class='required'>*</span></label>
                            <div class='controls'>
                                <input type='text' name='name' data-required='1' id='name_news' class='span6 m-wrap myinpt'>
                            </div>
                        </div>
                        <div class='control-group'>
                            <label class='control-label'>Кто видит новость<span class='required'>*</span></label>
                            <div class='controls'>
                                <div class='group'>
                                    <div class='leadgroup'>
                                        <label class='uniform inline'>
                                            <input class='uniform_on check_all' type='checkbox' checked="checked" disabled id='solouser' value='option1'>
                                        </label>
                                        <div class='inline' id='{{profile.iUserId}}_name'>{{profile.sUserSecondName}} {{profile.sUserName | slice(0,1) }}. {{profile.sUserThirdName | slice(0,1) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='controls'>
                                <div class='group'>
                                {% for user in user_list %}
                                    <div class='leadgroup'>
                                        <label class='uniform inline'>
                                            <input class='uniform_on check_all' type='checkbox' id='optionsCheckbox' {% if user.name_group =="root" %} disabled checked="checked"{% endif %} value='option1'>
                                        </label>
                                        <div class='inline'>{{user.name_group_russia}} <img src='/app/views/assets/img/rotatearrow.png' id='rotategroup' class='rotatearrow'>
                                        </div>
                                        {% for user_group in user.group %}
                                        {% if user_group.iUserId != profile.iUserId %} 
                                        <div class='subgroup' style='display:none'>
                                            <label class='uniform inline'>
                                                    <input class='uniform_on chk' type='checkbox' data-user="{{user_group.iUserId}}"  {% if user.name_group =="root" %} disabled checked="checked"{% endif %} value='option1'>
                                            </label>
                                            <div class='inline'>{{user_group.sUserSecondName}} {{user_group.sUserName | slice(0,1) }}. {{user_group.sUserThirdName | slice(0,1) }}.</div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class='control-group'>
                            <label class='control-label'>Текст<span class='required'>*</span></label>
                            <div class='controls'>
                                <textarea name='creditcard' type='text' class='span8 m-wrap mytext' id="text_news"></textarea>
                            </div>
                        </div>
						<div class='control-group'>
							{% include 'downloadfile.html' %}
							{{ block('file') }}
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class='modal-footer'>
                <a class='btn btn-primary' id='AddNewsBtn' href='#'>Создать</a>
                <a data-dismiss='modal' class='btn' href='#'>Отмена</a>
            </div>
       	</div>
    </div>
</div>
{% endblock %}