{% block menu %}          
<div class="span3" id="sidebar">
    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
        <li {% if profile.currect_page == '' %} class="active" {% endif %}>
            <a href="/{{profile.sMainPage}}">Главная</a>
        </li>
        <li {% if profile.currect_page == 'tasks' %} class="active" {% endif %}>
            <a href="/{{profile.sMainPage}}/tasks/"><!-- <span class="badge badge-success pull-right">2</span><span class="badge badge-info pull-right">1</span> --> Задачи</a>
        </li>
        <li {% if profile.currect_page == 'events' %} class="active" {% endif %}>
            <a href="/{{profile.sMainPage}}/events/"> События</a>
        </li>
        <li {% if profile.currect_page == 'news' %} class="active" {% endif %}>
            <a href="/{{profile.sMainPage}}/news/"> Новости</a>
        </li>
        <li {% if profile.currect_page == 'info' %} class="active" {% endif %}>
            <a href="/{{profile.sMainPage}}/info/"> Информация</a>
        </li>
    </ul>
    <div class="span9">
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Новости</div>
            </div>
            <div class="block-content collapse in">
                <div class="span12">
                    {% for news in news_mass %}
                    <div class="one_news inline">
                        <div class="cmy">
                            {{news.dNewsCreate}}
                        </div>
                        <div>
                            <a href="/{{profile.sMainPage}}/detailnews/?id_news={{news.iNewsId}}">{{news.sNewsName}}</a>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                    <div class="one_news">
                        <a href="#">Все новости</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="span9">
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">Легенда (в разработке)</div>
            </div>
            <div class="block-content collapse in">
                <!-- <div class="span12">
                    <div class="marbot">
                        <span class="badge badge-info pull-right">1</span> одна новая задача -
                    </div>
                    <div class="marbot">    
                        <span class="badge badge-success pull-right">2</span> всего задач две -
                    </div>
                    <div class="marbot">
                        Вы ответственный - <span class="resp pull-right"><i class="fa fa-flag"></i></span>
                    </div>
                    <div class="marbot">
                        Еще не придумал - <span class="warning pull-right"><i class="fa fa-star"></i></span>
                    </div>
                    <table class="table">
                    <tbody>
                        <tr class="success">
                            <td>Задача</td>
                        </tr>
                        <tr class="error">
                            <td>Новость</td>
                        </tr>
                        <tr class="info">
                            <td>Событие</td>
                        </tr>
                    </tbody>
                    </table>
                </div> -->
            </div>
        </div>
    </div>
</div>
{% endblock %}