<!DOCTYPE html>
<html lang="en" class="wide smoothscroll wow-animation">
<head>
  <!-- Site Title -->
  <title>Cars</title>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

  <!-- Stylesheets -->
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700%7CExo+2:400,700,900,600,300%7CPT+Sans:400,700%7CRoboto:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css">

  <!--[if lt IE 10]>
  <script src="js/html5shiv.min.js"></script>
  <![endif]-->
</head>
<body>
<!-- The Main Wrapper -->
<div class="page">

  <!--For older internet explorer-->
  <div class="old-ie"
       style='background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;'>
    <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
      <img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820"
           alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
    </a>
  </div>
  <!--END block for older internet explorer-->

  <!--========================================================
                            HEADER
  =========================================================-->
  <header class="page-header bg">
    <!-- RD Navbar -->
    <div class="rd-navbar-wrap">
      <nav class="rd-navbar" data-rd-navbar-lg="rd-navbar-static">
        <div class="rd-navbar-inner">
          <!-- RD Navbar Panel -->
          <div class="rd-navbar-panel">

            <!-- RD Navbar Toggle -->
            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar"><span></span></button>
            <!-- END RD Navbar Toggle -->


            <!-- RD Navbar Brand -->
            <div class="rd-navbar-brand">
              <a href="index.html" class="brand-name">
              </a>
            </div>
            <!-- END RD Navbar Brand -->

            <button class="rd-navbar-toggle list" data-rd-navbar-toggle=".rd-navbar-inline-list"><span></span></button>
          </div>
          <!-- END RD Navbar Panel -->

          <div class="rd-navbar-nav-wrap">

            <!-- RD Navbar Nav -->
            <ul class="rd-navbar-nav">
              <li class="">
                <a href="index.html">Home</a>
              </li>
              <li class="">
                <a href="index-1.html">About</a>
              </li>
              <li class="active">
                <a href="index-2.html">Cars</a>
                <!-- RD Navbar Dropdown -->
                <ul class="rd-navbar-dropdown">
                  <li>
                    <a href="#">A-Class</a>
                  </li>

                  <li>
                    <a href="#">B-Class</a>
                  </li>
                  <li>
                    <a href="#">C-Class</a>
                    <ul class="rd-navbar-dropdown">
                      <li>
                        <a href='#'>Mercedes-Benz</a>
                      </li>
                      <li>
                        <a href='#'>Audi</a>
                      </li>
                      <li>
                        <a href='#'>BMW</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">E-Class</a>
                  </li>
                  <li>
                    <a href="#">G-Class</a>
                  </li>
                </ul>
                <!-- END RD Navbar Dropdown -->
              </li>
              <li>
                <a href="index-3.html">News</a>
              </li>
              <li>
                <a href="index-4.html">Contacts</a>
              </li>
            </ul>
            <!-- END RD Navbar Nav -->
          </div>

          <ul class="rd-navbar-inline-list">
            <li><a class="icon icon-sm icon-silver fa-facebook" href="#"></a></li>
            <li><a class="icon icon-sm icon-silver fa-twitter" href="#"></a></li>
            <li><a class="icon icon-sm icon-silver fa-instagram" href="#"></a></li>
            <li><a class="icon icon-sm icon-silver fa-google-plus" href="#"></a></li>
          </ul>
          <div class="rd-navbar-contact">
            <a href="callto:#">1-800-1234-567</a>
          </div>
        </div>
      </nav>
    </div>
    <!-- END RD Navbar -->
  </header>
  <!--========================================================
                            CONTENT
  =========================================================-->
  <main class="page-content">
    <!--BODY TYPE-->
    <section class="well well-2 bg-image bg-image-3 bg-yellow-green">
      <div class="container text-center">
        <h2>BODY TYPE</h2>
        <div class="row flow-offset-1">
          <div class="col-sm-6 col-md-4 col-lg-2">
            <img src="images/page-03_img22.jpg" width="170" height="86" alt="">
            <h6 class="text-none offset-4"><a href="#">Hatchback</a></h6>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2">
            <img src="images/page-03_img23.jpg" width="170" height="86" alt="">
            <h6 class="text-none offset-4"><a href="#">Sedan</a></h6>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2">
            <img src="images/page-03_img24.jpg" width="170" height="86" alt="">
            <h6 class="text-none offset-4"><a href="#">MPV</a></h6>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2">
            <img src="images/page-03_img25.jpg" width="170" height="86" alt="">
            <h6 class="text-none offset-4"><a href="#">SUV</a></h6>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2">
            <img src="images/page-03_img26.jpg" width="170" height="86" alt="">
            <h6 class="text-none offset-4"><a href="#">Luxury</a></h6>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-2">
            <img src="images/page-03_img27.jpg" width="170" height="86" alt="">
            <h6 class="text-none offset-4"><a href="#">Hybrids</a></h6>
          </div>
        </div>
        <a href="#" class="btn btn-lg btn-sunglow offset-5">more types</a>
      </div>
    </section>
    <!-- END BODY TYPE -->

    <!-- Latest Used Cars-->
    <section class="well well-2">
      <div class="container">
        <h2 class="text-center">Latest Used Cars</h2>
        <div class="row text-center flow-offset-1">
          <div class="col-sm-6 col-lg-4 wow fadeIn">
            <div class="product">
              <img src="images/page-03_img28.jpg" width="370" height="231" alt="">
              <a href="#" class="product-price heading-5">$50 000</a>
              <a href="#" class="product-title heading-4">BMW 116 D</a>
              <p class="product-caption">21.500 km • Apr 2010 <br class="hidden visible-md-block">
                Diesel • 116 HP • CO2 : 118 g/km</p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 wow fadeIn">
            <div class="product">
              <img src="images/page-03_img29.jpg" width="370" height="231" alt="">
              <a href="#" class="product-price heading-5">$20 800</a>
              <a href="#" class="product-title heading-4">Daihatsu Cuore</a>
              <p class="product-caption">113.950 km • Jan 2004 <br class="hidden visible-md-block">
                Essence • 58 HP • CO2 : 114 g/km</p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 wow fadeIn">
            <div class="product">
              <img src="images/page-03_img30.jpg" width="370" height="231" alt="">
              <a href="#" class="product-price heading-5">$18 400</a>
              <a href="#" class="product-title heading-4">Citroen DS 5 airdream</a>
              <p class="product-caption">50.600 km • Sep 2012 <br class="hidden visible-md-block">
                Diesel • 136 HP</p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 wow fadeIn">
            <div class="product">
              <img src="images/page-03_img31.jpg" width="370" height="231" alt="">
              <a href="#" class="product-price heading-5">$18 000</a>
              <a href="#" class="product-title heading-4">Peugeot 5008</a>
              <p class="product-caption">49.877 km • Nov 2012 <br class="hidden visible-md-block">
                Petrol • 120 HP • CO2 : 159 g/km</p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 wow fadeIn">
            <div class="product">
              <img src="images/page-03_img32.jpg" width="370" height="231" alt="">
              <a href="#" class="product-price heading-5">$23 000</a>
              <a href="#" class="product-title heading-4">Renault TWINGO DIESEL</a>
              <p class="product-caption">129.500 km • Mar 2008
                Diesel • 64 HP • 2 days online</p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 wow fadeIn">
            <div class="product">
              <img src="images/page-03_img33.jpg" width="370" height="231" alt="">
              <a href="#" class="product-price heading-5">$35 100</a>
              <a href="#" class="product-title heading-4">Peugeot 308</a>
              <p class="product-caption">34.500 km • Apr 2013 <br class="hidden visible-md-block">
                Petrol • 98 HP • 2 days online </p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 wow fadeIn">
            <div class="product">
              <img src="images/page-03_img34.jpg" width="370" height="231" alt="">
              <a href="#" class="product-price heading-5">$18 000</a>
              <a href="#" class="product-title heading-4">HONDA ACCORD</a>
              <p class="product-caption">Free 2 Years Extended Warranty And <br class="hidden visible-md-block">
                Roadside Assist</p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 wow fadeIn">
            <div class="product">
              <img src="images/page-03_img35.jpg" width="370" height="231" alt="">
              <a href="#" class="product-price heading-5">$23 000</a>
              <a href="#" class="product-title heading-4">2014 MERCEDES-BENZ <br class="hidden visible-md-block">
                S400L HYBRID</a>
              <p class="product-caption">5.5L V8, Automatic 7-Speed, 14 city / 22 hwy, <br
                  class="hidden visible-md-block">
                Gasoline, RWD, Sunroof, DVD, Navigation</p>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 wow fadeIn">
            <div class="product">
              <img src="images/page-03_img36.jpg" width="370" height="231" alt="">
              <a href="#" class="product-price heading-5">$35 100</a>
              <a href="#" class="product-title heading-4">HONDA CR-V</a>
              <p class="product-caption">Limited Edition Includes 18" Alloy <br class="hidden visible-md-block">
                Wheels, Front Fog Lights.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END Latest Used Cars-->

    <!-- CHOSE THE CAR THAT MEETS YOUR NEEDS -->
    <section class="well well-2 bg-black-haze">
      <div class="container">
        <h2>CHOSE THE CAR THAT MEETS YOUR NEEDS</h2>
        <div class="row row-xs-center flow-offset-1">
          <div class="col-xs-4 wow fadeInLeft">
            <ul class="marked-list">
              <li><a href="#">Acura</a></li>
              <li><a href="#">Aston Martin</a></li>
              <li><a href="#">Audi</a></li>
              <li><a href="#">BMW</a></li>
              <li><a href="#">Buick</a></li>
              <li><a href="#">Cadillac</a></li>
              <li><a href="#">Chevrolet</a></li>
              <li><a href="#">Chrysler</a></li>
              <li><a href="#">Dodge</a></li>
            </ul>
          </div>
          <div class="col-xs-4">
            <ul class="marked-list">
              <li><a href="#">Ferrari</a></li>
              <li><a href="#">FIAT</a></li>
              <li><a href="#">Ford</a></li>
              <li><a href="#">GMC</a></li>
              <li><a href="#">Honda</a></li>
              <li><a href="#">Hyundai</a></li>
              <li><a href="#">Infiniti</a></li>
              <li><a href="#">Jaguar</a></li>
              <li><a href="#">Jeep</a></li>
            </ul>
          </div>
          <div class="col-xs-4 wow fadeInRight">
            <ul class="marked-list">
              <li><a href="#">Kia</a></li>
              <li><a href="#">Land Rover</a></li>
              <li><a href="#">Lexus</a></li>
              <li><a href="#">Lincoln</a></li>
              <li><a href="#">Mazda</a></li>
              <li><a href="#">Mercedes-Benz</a></li>
              <li><a href="#">MINI</a></li>
              <li><a href="#">Mitsubishi</a></li>
              <li><a href="#">Nissan</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- END CHOSE THE CAR THAT MEETS YOUR NEEDS -->

    <!-- KNOW MORE about your CAR -->
    <section class="well well-2 bg-image bg-image-2 bg-yellow-green">
      <div class="container">
        <h2>KNOW MORE about your CAR</h2>

        <div class="row row-xs-center flow-offset-2 text-center text-md-left">
          <div class="col-sm-6 col-md-4 wow fadeInLeft">
            <p>Your Car is the ideal online destination to buy/sell used cars in USA. With over 71357 of fascinating
              cars lined up by trusted dealers and individuals from across the country, Your Car has become the one stop
              place for all the used car buyers. </p>
            <a href="#" class="btn btn-md btn-sunglow">read more </a>
          </div>
          <div class="col-sm-6 col-md-4">
            <p>Please note that Your Car does not inspect vehicles uploaded by users and used car dealers. Searching
              your favorite car is now easier than before as we provide plenty of options to search by price, by car
              model, by brand name and even by city. </p>
            <a href="#" class="btn btn-md btn-sunglow">read more </a>
          </div>
          <div class="col-sm-6 col-md-4 wow fadeInRight">
            <p>Please note that Your Car does not inspect vehicles uploaded by users and used car dealers. Searching
              your favorite car is now easier than before as we provide plenty of options to search by price, by car
              model, by brand name and even by city. </p>
            <a href="#" class="btn btn-md btn-sunglow">read more </a>
          </div>
        </div>
      </div>
    </section>
    <!-- END KNOW MORE about your CAR -->
  </main>
  <!--========================================================
                            FOOTER
  ==========================================================-->
  <footer class="page-footer">
    <div class="container text-center text-sm-left">
      <div class="row flow-offset-1">

        <div class="col-sm-6 col-md-preffix-1 col-md-2 col-sm-push-1 col-md-push-2">
          <ul class="list">
            <li class=""><a href="index.html">Home</a></li>
            <li class=""><a href="index-1.html">About</a></li>
            <li class="active"><a href="index-2.html">Cars</a></li>
            <li><a href="index-3.html">News</a></li>
            <li><a href="index-4.html">Contacts</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3  col-md-push-3 col-sm-push-2">
          <address class="contact-info">
            <a href="#" class="address">4578 69 St, San Diego D04 89GR</a>
            <div>
              <a href="callto:#">1-800-1234-567</a>
            </div>
          </address>
          <ul class="inline-list">
            <li><a class="icon icon-sm icon-primary fa-facebook" href="#"></a></li>
            <li><a class="icon icon-sm icon-primary fa-twitter" href="#"></a></li>
            <li><a class="icon icon-sm icon-primary fa-instagram" href="#"></a></li>
            <li><a class="icon icon-sm icon-primary fa-google-plus" href="#"></a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-preffix-1 col-md-3 col-sm-push-4 col-md-push-4">
          <!-- Facebook widget -->
          <div class="fb-page"
               data-href="https://www.facebook.com/TemplateMonster"
               data-small-header="false"
               data-hide-cta="true"
               data-hide-cover="false"
               data-adapt-conainer-width="true"
               data-show-facepile="true"
               data-show-posts="false">
            <div class="fb-xfbml-parse-ignore">
              <blockquote cite="https://www.facebook.com/TemplateMonster"><a
                  href="https://www.facebook.com/TemplateMonster">Facebook</a>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-2 col-sm-push-3 col-md-push-1">
          <!-- RD Navbar Brand -->
          <div class="rd-navbar-brand">
            <a href="index.html" class="brand-name">
            </a>
          </div>
          <!-- END RD Navbar Brand -->

          <p class="copyright">
            © <span id="copyright-year"></span>
            <a href='index-5.html'>Privacy Policy</a>

          </p>
        </div>
      </div>

    </div>
  </footer>
</div>

<!-- Core Scripts -->
<script src="js/core.min.js"></script>
<!-- Additional Functionality Scripts -->
<script src="js/script.js"></script>

</body>
</html>