.upfile ul li {
	list-style-type: none;
	font-size: 12px;
}
.size, .del {
	margin-left:20px;
}
.del {
	cursor:pointer;
	color:red;
}
#progress {
	display: none;
}
.ok {
	color:green;
}