/** Home Page **/
body {
	padding-top: 0;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}


@media (min-width: 979px){
    body {
            padding-top: 60px;
    }
}


/** Login Page **/
#login {
    padding-top: 40px;
    padding-bottom: 40px;
}

#login .form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
#login .form-signin .form-signin-heading,
#login .form-signin .checkbox {
    margin-bottom: 10px;
}
#login .form-signin input[type="text"],
#login .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

/** 2 level sub menu **/
.dropdown-menu-with-subs .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

.dropdown-menu-with-subs li:hover .sub-menu {
  visibility: visible;
  display: block;
}

.navbar .sub-menu:before {
  border-bottom: 7px solid transparent;
  border-left: none;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-top: 7px solid transparent;
  left: -7px;
  top: 10px;
}
.navbar .sub-menu:after {
  border-top: 6px solid transparent;
  border-left: none;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
  left: 10px;
  top: 11px;
  left: -6px;
}

/** Global **/
#content {
  margin-left:0px;
}
.hide-sidebar, .show-sidebar {
  cursor: pointer;
}
.padd-bottom {
  margin-bottom: 5px;
}
.breadcrumb {
	margin: 0 0 0px;
	padding: 10px 0px;
	background-color: transparent;
}

.block {
	border: 1px solid #ccc;
	background: white;
	margin: 1em 0em;
	border-top: none;
}

.block-content {
	margin: 1em;
	min-height: .25em;
}

.block-header {
	margin-bottom: 0px;
	border-right: none;
	border-left: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.block-header div {
	padding-top: 10px;
}

.easyPieChart {
	margin: 0px auto;
}

.chart-bottom-heading {
	margin-top: 5px;
	text-align: center;
}

/** Side Bar **/
.bs-docs-sidenav {
  max-width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

/* Icons
------------------------- */
.the-icons {
  margin-left: 0;
  list-style: none;
}
.the-icons li {
  float: left;
  width: 25%;
  line-height: 25px;
}
.the-icons i:hover {
  background-color: rgba(255,0,0,.25);
}


.control-label .required {
  color: #e02222;
  font-size: 12px;
  padding-left: 2px;
}

#month{
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border:none;
  font-size: 25px;
  font-weight: bold;
  vertical-align: top;
  height: 40px;
  width:140px;
}
#year_calendar:hover,#year_calendar:focus{
  -moz-appearance: number-input;
}
#year_calendar{
  -moz-appearance: textfield;
  -webkit-appearance: none;
  background: transparent;
  border:none;
  font-size: 25px;
  font-weight: bold;
  vertical-align: top;
  height: 40px;
  width:100px;
}
.marbot {
  margin-bottom: 20px;
}
.ten {
  margin:60px 0 0 20px;
}
.btnten {
  width:100px;
}
.myinpt {
  width:234px!important;
}
.mytext {
  min-width:234px!important;
  min-height:80px!important;
  max-height:234px!important;
  max-width:80px!important;
}
.inline {
  display:inline-block;
}
.subgroup {
  margin-left: 20px;
}
.rotate{
  -moz-transform: rotate(-90deg); /* Для Firefox */
    -ms-transform: rotate(-90deg); /* Для IE */
    -webkit-transform: rotate(-90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-90deg); /* Для Opera */
    transform: rotate(-90deg);
}
.resp {
  margin-left:10px;
  color:red;
}
.one_news {
  text-align:center;
  width: inherit;
}
.cmy {
  color:#A9A9A9;
  font-size: 10px;
}
.warning{
  margin-left:10px;
  color:navy; 
}
hr {
  border: none;
  background-color: #ccc;
  height: 1px; 
}
.present {
  margin-top:20px;
}
.filetext{
  vertical-align: super;
}
.calendar_event {
  background:#d9edf7;
  color: #000;
  cursor: pointer;
  text-align: center;
  font-size: .85em;
  margin-bottom:10px;
}
.calendar_task {
  background:#dff0d8;
  color: #000;
  cursor: pointer;
  text-align: center;
  font-size: .85em;
  margin-bottom:10px;
}
.calendar_task:hover {
  background:#62c462;
}
.calendar_event:hover{
  background:#5bc0de;
}
.ce_ot, .ce_ot:hover{
  background-image: url(/app/views/assets/img/star.png);
  background-repeat: no-repeat;
}
#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background:#fff;
    z-index: 100500;
}

#page-preloader .spinner {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 40%;
    top: 40%;
    background: url('../img/loader.gif') no-repeat 50% 50%;
    margin: -16px 0 0 -16px;
}
.visa {
  font-size: 10px;
  text-align: center!important;
  vertical-align: top;
}
.check {
  font-size: 20px;
  margin-right: 10px;
}
#digital_watch {
  color: #777; 
  font-size: 120%; 
  font-weight: bold;
  padding: 10px 0 0 15%;
}
.bigbtn{
  margin-right: 15px;
}
.curvisabtn {
  font-size: 30px!important;
}
.error{
  border-color:#b94a48!important;
}
.error:focus{
  border-color:#953b39!important;
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #d59392!important;
  -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #d59392!important;
  box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #d59392!important
}
.cursor{
  cursor:pointer!important;
}
.marleft{
  margin-left: 20px;
}
.delete a{
	color:red;
}
.label-important {
	margin-left: 20px;
	font-size: 10px;
}