{% block buttons %}
<h1 class="text-center">Перевезем все <br class="hidden visible-lg-block"></h1>
<div class="text-center offset-1 group-btn">
	<a href='#' data-toggle="modal" data-target="#get_call" class='callback'>
		<div class="box-1 text-center col-md-4">
			<div class="box-1-top ">
				<span class="icon icon-lg icon-yellow-green fa-phone "></span>
			</div>
			<div class="box-1-bottom">
				<h6 class="line-height-auto text-capitalize text-regular">Перезвоните мне</h6>
			</div>
		</div>
	</a>
	<a href='#anchor-driver' id='anchor-driver-a'>
		<div class="box-1 text-center col-md-4">
			<div class="box-1-top ">
				<span class="icon icon-lg icon-yellow-green fa-truck "></span>
			</div>
			<div class="box-1-bottom">
				<h6 class="line-height-auto text-capitalize text-regular">Каталог водителя</h6>
			</div>
		</div>
	</a>
	<a href='#anchor-customer' id='anchor-customer-a'>
		<div class="box-1 text-center col-md-4">
			<div class="box-1-top ">
				<span class="icon icon-lg icon-yellow-green fa-list"></span>
			</div>
			<div class="box-1-bottom">
				<h6 class="line-height-auto text-capitalize text-regular">Каталог заказа</h6>
			</div>
		</div>
	</a>
	<div id="get_call" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" id='callback-modal-header'>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Обратный звонок</h4>
          </div>
          <div class="modal-body" id='callback-modal-body'>
            <p class='callback-modal-text'>Укажите Ваш номер телефона и мы свяжемся с Вами в ближайшее время</p>
            <p class='martop'><input type="text" id="call-back" name="name" autocomplete="off" placeholder="+7 (___) ___-__-__" data-constraints=""></p>
          </div>
          <div class="modal-footer" id='callback-modal-footer'>
          	<button type="button" class="btn btn-sunglow" style='display: none' id='send-callback'>Отправить</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
	</div>
</div>
{% endblock %}