<!DOCTYPE html>
<html class='no-js'>
	<head>
        <title>Сраница ошибки 404</title>
        <meta charset='utf-8'>

    	<link href='/app/views/assets/css/bootstrap.min.css' rel='stylesheet' media='screen'>
    	<link href='/app/views/assets/css/bootstrap-responsive.min.css' rel='stylesheet' media='screen'>
       	<link href='/app/views/assets/css/styles.css' rel='stylesheet'>
       	<link href='/app/views/assets/css/404.css' rel='stylesheet'>

        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	</head>
	<body>
		<div class='container-fluid'>
            <div class='row-fluid'>
            	<div class="comingcontainer">
    				<div class="checkbacksoon">
		            	<p>
							<span class="go3d">Н</span>
							<span class="go3d">Е</span>
							<span class="go3d">Т</span>
							<br/>
							<span class="go3d">Д</span>
							<span class="go3d">О</span>
							<span class="go3d">С</span>
							<span class="go3d">Т</span>
							<span class="go3d">У</span>
							<span class="go3d">П</span>
							<span class="go3d">А</span>
						</p>
						<div class='martop'>
						<p class="error">
							Похоже, вы выбрали неправильный путь. <br/>Доступ на эту страницу Вам запрещен.
						</p>
						</div>
						<div class='mid mar'>
							<a href='/'><button class="btn btn-primary btn-large"><i class="fa fa-home"></i><span>Вернуться на главную</span></button></a>
						</div>
            		</div>
            	</div>
            </div>
			<hr>
	        <footer>
	            <p>Copyright © <a target='blank' href='http://www.alexkam.ru'>Alexkam</a> - All Rights Reserved | Moscow 2016</p>
	        </footer>
       	</div>
	</body>
</html>