{% block file %}
<link href='app/views/assets/css/downloadfile.css' rel='stylesheet' media='screen'>
<label class='control-label'>Прикрепите файл<span class='required'>*</span></label>
<div class='controls upfile'>
    	<div class='uploader' id=''>
    		<input class='input-file uniform_on' id='fileInput' type='file' name="upl" multiple> 
    		<span class='filename' style='-webkit-user-select: none;'>Файл не выбран</span>
    		<span class='action' style='-webkit-user-select: none;'>Выберите файл</span>
    	</div>
    		<ul>
			</ul>
</div>
{% endblock %}