{% block header %}
<meta name="format-detection" content="telephone=no"/>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
<link rel="stylesheet" href="/app/views/css/bootstrap.css">
<link rel='stylesheet' href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css'>
<link rel="icon" href="/app/views/app/views/images/favicon.ico" type="image/x-icon">
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700%7CExo+2:400,700,900,600,300%7CPT+Sans:400,700%7CRoboto:400,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/app/views/css/select2.min.css">
<link rel="stylesheet" href="/app/views/css/style.css">

{% endblock %}