<!DOCTYPE html>
<html lang="ru" class="wide smoothscroll wow-animation">
<head>
  <title>ЛК заказчик</title>
  {% include 'header.html' %}
  {% block header %}
  {% endblock %}

  <!-- <link rel="stylesheet" href="/app/views/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="/app/views/css/DT_bootstrap.css">
  <link rel="stylesheet" href="/app/views/css/profile-customer.css">
  <link rel="stylesheet" href="/app/views/css/jquery.rating.css">
  <link href="/app/views/css/styleup.css" rel="stylesheet" />

<style>
  .rd-navbar-static .rd-navbar-nav > li {
    margin-left: 5px;
  }
  .alert{
    padding: 13px;
  }
  label {
    display: block;
  }
  .uploadButton {
    padding: 14px 20px 16px;
    margin-bottom: 20px;
    color: #000;
    background-color: #ffd630;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 1.2;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    cursor: pointer;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Exo 2", sans-serif;
    letter-spacing: 0.06em;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    transition: .3s all ease;
    font: inherit;
    box-sizing: border-box;

	}
  .uploadButton:hover {
    color: #000;
	background-color: #ffbd30;
  }
</style>
</head>
<body>
  <div class="page">
    {% include 'old-ie.html' %}
    {% block oldie %}
    {% endblock %}
    <header class="page-header bg">
      {% include 'navi.html' %}
      {% block navi %}
      {% endblock %}
<!--       <div class="container">
        <div class="row">
          <div class="col-md-6">

          </div>
          <div class="col-md-6">  
          </div>
        </div>
      </div> -->
    </header>

    <main class="page-content">
      <section class="well well-2">
        <div class="container text-center">
          <ul class="nav nav-tabs">
            <li class="active col-lg-6"  style='margin-top: 0px;'><a data-toggle="tab" href="#profile"><i class="fa fa-user" aria-hidden="true"></i><span>Мой профиль</span></a></li>
            <li class='col-lg-6' style='margin-top: 0px;'><a data-toggle="tab" href="#orders"><i class="fa fa-bars" aria-hidden="true"></i><span>Мои заказы</span></a></li>
          </ul>
          <div class='col-lg-12' style='margin-top: 0px;'>
            <div class="tab-content" style='padding-bottom: 50px;'>
              <div id="profile" class="tab-pane fade in active">
                <div style='padding: 50px;'>

                  <div class="col-lg-4">
                    <div class='div-avatar martop'>
                      <div class='avatar'>
                        {% if all_profile[0].iCustomerAvatar=='' %}
                          <img src="/app/views/images/noavatar.png" width="306px" height="226px">
                        {% else %}
                          <img src="{{all_profile[0].iCustomerAvatar}}" width="306px" height="226px"/>
                        {% endif %}
                      </div>
                      <a href="#" class="btn btn-sm btn-sunglow offset-3 marbot" id='change_avatar_customer' data-toggle="modal" data-target="#change_avatar" style='margin-top: 60px;'>Изменить аватар</a>
                      <div style='clear: both;'></div>
                    </div> 

                    <div class='col-lg-5 col-sm-5 col-xs-5'>
                      <div class='caption-profile marbot'>Рейтинг:</div>
                    </div>
                    <div class='col-lg-2 col-sm-2 col-xs-2 rating' style='margin-left: -10px;'>3.4</div>
                    <div id="rating_3">
                      <input type="hidden" class="val" value="3.4"/>
                           
                    </div>
                  </div>

                  <div class="col-lg-8">
                    <div class='col-lg-3 col-sm-3 col-xs-12'>
                      <div class='caption-profile marbot'>Имя:</div>
                    </div>
                    <div class='col-lg-9 col-sm-9 col-xs-12'>
                      <input type="text" id='name_customer' class="" autocomplete="off" value='{{all_profile[0].iCustomerName}}'/>
                    </div>
                  </div>

                  <div class="col-lg-8" style='padding-top: 50px;'>
                    <div class='col-lg-3 col-sm-3 col-xs-12'>
                      <div class='caption-profile marbot'>Город:</div>
                    </div>
                    <div class='col-lg-8 col-sm-8 col-xs-10'>
                      <label class="z-104 mfSelect" data-add-placeholder>
                        <input type="text" class="city" id='profile-customer-from' placeholder="Ваш город" autocomplete="off" value="{% if all_profile[0].city.name == '' %}{% else %}{{all_profile[0].city.name}} {{all_profile[0].city.parent_name|trim}} {{all_profile[0].city.country_name}}{% endif %}" city-id='{{all_profile[0].city.id}}' country_id='{{all_profile[0].city.country_id}}'/>
                        <ul class="dropdown" id="profile-customer-from-dropdown"></ul>
                        <div class='loader' data-id-loader='profile-customer-from' style="top: 8px;right: 20px; display: none;"></div>
                      </label>
                    </div>
                    <div class='col-lg-1 col-sm-1 col-xs-2'><i class="fa fa-times delete-city" data-id='profile-customer-from' aria-hidden="true"></i></div>
                  </div>

                  <div class="col-lg-8" style='padding-top: 50px;'>
                    <div class='col-lg-3 col-sm-3 col-xs-12'>
                      <div class='caption-profile marbot'>Организация:</div>
                    </div>
                    <div class='col-lg-9 col-sm-9 col-xs-12'>
                      <input type="text" class="" id='org_customer' autocomplete="off" value='{{all_profile[0].iCustomerOrg}}' placeholder="Название Вашей организации, если есть" />
                    </div>
                  </div>

                  <div class="col-lg-8" style='padding-top: 50px;'>
                    <div class='col-lg-3 col-sm-3 col-xs-12'>
                      <div class='caption-profile marbot'>Телефон:</div>
                    </div>
                    <div class='col-lg-5 col-sm-4 col-xs-12'>
                      <input type="text" class="" autocomplete="off" placeholder="+7 (___) ___-__-__" id='phone-customer-profile' value='{{all_profile[0].iCustomerPhone}}'/>
                    </div>
                    <div class='col-lg-4 col-sm-5 col-xs-12'>
                    {% if all_profile[0].phoneConfinm==1 %}
                      <div class="alert alert-success">
                        <strong><i class="fa fa-check" aria-hidden="true"></i></strong> Подтвержден
                      </div>
                    {% else %} 
                      <a href="#" class="btn btn-sm btn-sunglow confirm" data='send_code_phone' style="float:right">Подтвердить</a>
                    {% endif %}
                    </div>
                    <div class='send_again row'>
                    </div>
                    <div class="" id='send_again' style='display: none;margin-top: 20px!important;'>
                        <div class="col-md-12" style="text-align: center;">
                          <a class="btn btn-xl btn-sunglow" href="#" id='phone-auth-send'>Выслать код</a>
                        </div>
                      </div>
                  </div>
                  
<!--                   <div class="col-lg-8" style='padding-top: 50px;'>
                    <div class='col-lg-3 col-sm-3 col-xs-12'>
                      <div class='caption-profile marbot'>Email:</div>
                    </div>
                    <div class='col-lg-5 col-sm-4 col-xs-12'>
                      <input type="text" class="" id='mail_customer' autocomplete="off" value='{{all_profile[0].sEmail}}' placeholder="Это будет Ваш логин" />
                    </div>
                    <div class='col-lg-4 col-sm-5 col-xs-12'>
                      <div class="alert alert-success">
                        <strong><i class="fa fa-check" aria-hidden="true"></i></strong> Подтвержден
                      </div>
                      <a href="#" class="btn btn-sm btn-sunglow confirm" data='send_code_email' style="float:right">
                      Подтвердить</a>
                    </div>
                  </div> -->

<!--                   <div class="col-lg-8" style='padding-top: 50px;'>
                    <div class='col-lg-3 col-sm-3 col-xs-12'>
                      <div class='caption-profile marbot'>Пароль:</div>
                    </div>
                    <div class='col-lg-5 col-sm-4 col-xs-12'>
                      <input type="password" class="" id='pass_driver' autocomplete="off" value='' placeholder="" />
                    </div>
                  </div> -->

                <div class='col-lg-12 martop'><a href="#" class="btn btn-sm btn-sunglow" id='update_profile_customer'>Сохранить изменения</a></div>
                </div>
                
                <a href="#" class="" data-toggle="modal" data-target="#result" id='result-link'></a>
                <div id="result" class="modal fade" role="dialog" ></div>
                <div id="change_avatar" class="modal fade" role="dialog" style="top:10%">
	               <div class="modal-dialog">
	                <div class="modal-content">
	                  <div class="modal-header">
	                    <button type="button" class="close mbd" data-dismiss="modal" data-name='customer'>&times;</button>
	                    <h4 class="modal-title">Загрузка новой фотографии</h4>
	                  </div>
	                  <div class="modal-body">
	                    <p>Вы можете загрузить изображение в формате JPG, GIF или PNG.</p>
                      <form id="upload" method="post" action="/api/v1/add_avatar_customer/" enctype="multipart/form-data">
                        <div id="drop">
                          Перетащите сюда файл или<br/>
                          <a style='margin-top: 10px;' class="btn btn-lg btn-sunglow offset-3 marbot" id='btn-file'>Выберите файл</a>
                          <input type="file" name="upl" />
                        </div>
                        <div id='drop2' style='margin-top: 20px;'></div>

                        <ul>
                          <!-- The file uploads will be shown here -->
                        </ul>
                      </form>
                      <hr>
	                    <p>Если у Вас возникают проблемы с загрузкой,<br/>попробуйте выбрать фотографию меньшего размера.</p>
	                  </div>
	                  <div class="modal-footer">
	                    <button type="button" class="btn btn-default" data-dismiss="modal" data-name='customer' id='delete-old-avatar'>Удалить текущий аватар</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal" id='save_avatar' style='display:none'>Сохранить</button>
                      <button type="button" class="btn btn-default mbd" data-name='customer' data-dismiss="modal" id='close-or-delete'>Закрыть</button>
	                  </div>
	                </div>
	               </div>
            	  </div>
              </div>
              <div style="clear: both"></div>

              <div id="orders" class="tab-pane fade">
                <div style='padding: 25px;'>
                  <div class='col-lg-4' style='padding: 0 0 20px 0; text-align: left'>
    	              <button class="btn btn-info btn-large active tabs_table" data-id='all_table'>Все</button>
    	              <button class="btn btn-info btn-large tabs_table" data-id='now_table'>Текущие</button>
    	              <button class="btn btn-info btn-large tabs_table" data-id='done_table'>Выполненные</button>
                  </div>
                  <div style='clear: both;'></div>
                  <div class="row-fluid tables" name='all_table'>
                    <div class="block" >
                      <div class="block-content collapse in">
                        <div class="span12">
                          <div id="example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div class="table-responsive">
                              <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable" id="all_table" aria-describedby="example_info">
                                <thead>
                                  <tr role="row">
                                    <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="all_table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">№ заказа</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="all_table" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Город (откуда)<br/>Город (куда)</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="all_table" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Дата начала<br/>Дата окончания</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="all_table" rowspan="1" colspan="1" style="width: 110px" aria-label="CSS grade: activate to sort column ascending">Оплата</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="all_table" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Тип груза</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="all_table" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Вес</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="all_table" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Просмотры/новые</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="all_table" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Действия</th>
                                  </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                  {% for order in all_orders %}
                                  	<tr class="{% if loop.index % 2 == 1 %}gradeA odd{% else %}gradeA even{% endif %}">
	                                    <td class="  sorting_1"><a class='link_a' href="/detail_order/{{order.id}}/" data-id='{{order.id}}'>{{order.id}}</a></td>
	                                    <td class=" ">{{order.start_city.name}}<br/>{% if order.finish_city.id is empty %}
                                          По городу
                                        {% else %}
                                          {{order.finish_city.name}}
                                        {% endif %}</td>
	                                    <td class="center ">{{order.start_date}}<br/>{% if order.finish_date=='null' %}
                                          Открытая
                                        {% else %}
                                          {{order.finish_date}}
                                        {% endif %}</td>
	                                    <td class=" ">
                                      {% if order.price > 0 %}
                                        {{order.price}} 
											                  {% if order.currency=='rub' %}
	                                    		руб.
	                                    	{% endif %}
                                      {% else %}
                                        Договорная
                                      {% endif %}<br/>
                                      {% if order.payment_type=='cash' %}
                                          Нал
                                        {% elseif order.payment_type=='non_cash' %}
                                          Безнал
                                        {% elseif order.payment_type=='both' %}
                                          Нал/Безнал
                                        {% endif %}
	                                    </td>
	                                    <td class="center ">{{order.cargo_name}}</td>
	                                    <td class="center ">{{order.cargo_weight}} 
                                        {% if order.weight_unit=='kilo' %}
                                          кг
                                        {% elseif order.weight_unit=='ton' %}
                                          тонн
                                        {% endif %}
                                      </td>
	                                    <td class=" ">{{order.drivers_count_total}} ({{order.drivers_count_new}})</td>
                                      <td class="group_icons"><a class='link_a' href="/detail_order/{{order.id}}/"><i class="fa fa-pencil-square-o edit_icon" aria-hidden="true"></i></a><a data-target="#ask" data-toggle="modal" href="#"><i class="fa fa-trash delete_icon" id-order="{{order.id}}" aria-hidden="true"></i></a></td>
                                  	</tr>
                                  {% endfor %} 
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row-fluid tables" name='now_table' style='display: none'>    
                    <div class='block'>
                      <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable" id="now_table" aria-describedby="example_info">
                        <thead>
                          <tr role="row">
                            <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="now_table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">№ заказа</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="now_table" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Город (откуда)<br/>Город (куда)</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="now_table" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Дата начала<br/>Дата окончания</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="now_table" rowspan="1" colspan="1" style="width: 110px" aria-label="CSS grade: activate to sort column ascending">Оплата</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="now_table" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Тип груза</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="now_table" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Вес</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="now_table" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Просмотры/новые</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="now_table" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Действия</th>
                          </tr>
                        </thead>
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                          {% for order in actual_orders %}
                            <tr class="{% if loop.index % 2 == 1 %}gradeA odd{% else %}gradeA even{% endif %}">
                              <td class="  sorting_1"><a class='link_a' href="/detail_order/{{order.id}}/" data-id='{{order.id}}'>{{order.id}}</a></td>
                              <td class=" ">{{order.start_city.name}}<br/>{% if order.finish_city.id is empty %}
                                  По городу
                                {% else %}
                                  {{order.finish_city.name}}
                                {% endif %}</td>
                              <td class="center ">{{order.start_date}}<br/>{% if order.finish_date=='null' %}
                                  Открытая
                                {% else %}
                                  {{order.finish_date}}
                                {% endif %}</td>
                              <td class=" ">
                              {% if order.price > 0 %}
                                {{order.price}} 
                                {% if order.currency=='rub' %}
                                  руб.
                                {% endif %}
                              {% else %}
                                Договорная
                              {% endif %}<br/>
                              {% if order.payment_type=='cash' %}
                                  Нал
                                {% elseif order.payment_type=='non_cash' %}
                                  Безнал
                                {% elseif order.payment_type=='both' %}
                                  Нал/Безнал
                                {% endif %}
                              </td>
                              <td class="center ">{{order.cargo_name}}</td>
                              <td class="center ">{{order.cargo_weight}} 
                                {% if order.weight_unit=='kilo' %}
                                  кг
                                {% elseif order.weight_unit=='ton' %}
                                  тонн
                                {% endif %}
                              </td>
                              <td class=" ">{{order.drivers_count_total}} ({{order.drivers_count_new}})</td>
                              <td class="group_icons"><a class='link_a' href="/detail_order/{{order.id}}/"><i class="fa fa-pencil-square-o edit_icon" aria-hidden="true"></i></a><a data-target="#ask" data-toggle="modal" href="#"><i class="fa fa-trash delete_icon" id-order="{{order.id}}" aria-hidden="true"></i></a></td>
                            </tr>
                          {% endfor %} 
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="row-fluid tables" name='done_table'  style='display: none'>
                    <div class='block'>
                      <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered dataTable" id="done_table" aria-describedby="example_info">
                        <thead>
                          <tr role="row">
                            <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="done_table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">№ заказа</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="done_table" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Город (откуда)<br/>Город (куда)</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="done_table" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Дата начала<br/>Дата окончания</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="done_table" rowspan="1" colspan="1" style="width: 110px" aria-label="CSS grade: activate to sort column ascending">Оплата</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="done_table" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Тип груза</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="done_table" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Вес</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="done_table" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Просмотры/новые</th>
                            <th class="sorting" role="columnheader" tabindex="0" aria-controls="done_table" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Действия</th>
                          </tr>
                        </thead>
                        <tbody role="alert" aria-live="polite" aria-relevant="all">
                          {% for order in close_orders %}
                            <tr class="{% if loop.index % 2 == 1 %}gradeA odd{% else %}gradeA even{% endif %}">
                              <td class="  sorting_1"><a class='link_a' href="/detail_order/{{order.id}}/" data-id='{{order.id}}'>{{order.id}}</a></td>
                              <td class=" ">{{order.start_city.name}}<br/>{% if order.finish_city.id is empty %}
                                  По городу
                                {% else %}
                                  {{order.finish_city.name}}
                                {% endif %}</td>
                              <td class="center ">{{order.start_date}}<br/>{% if order.finish_date=='null' %}
                                  Открытая
                                {% else %}
                                  {{order.finish_date}}
                                {% endif %}</td>
                              <td class=" ">
                              {% if order.price > 0 %}
                                {{order.price}} 
                                {% if order.currency=='rub' %}
                                  руб.
                                {% endif %}
                              {% else %}
                                Договорная
                              {% endif %}<br/>
                              {% if order.payment_type=='cash' %}
                                  Нал
                                {% elseif order.payment_type=='non_cash' %}
                                  Безнал
                                {% elseif order.payment_type=='both' %}
                                  Нал/Безнал
                                {% endif %}
                              </td>
                              <td class="center ">{{order.cargo_name}}</td>
                              <td class="center ">{{order.cargo_weight}} 
                                {% if order.weight_unit=='kilo' %}
                                  кг
                                {% elseif order.weight_unit=='ton' %}
                                  тонн
                                {% endif %}
                              </td>
                              <td class=" ">{{order.drivers_count_total}} ({{order.drivers_count_new}})</td>
                              <td class="group_icons"><a class='link_a' href="/detail_order/{{order.id}}/"><i class="fa fa-pencil-square-o edit_icon" aria-hidden="true"></i></a><a data-target="#ask" data-toggle="modal" href="#"><i class="fa fa-trash delete_icon" id-order="{{order.id}}" aria-hidden="true"></i></a></td>
                            </tr>
                          {% endfor %} 
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div style="clear: both"></div>
              <div id="ask1" class="modal fade" role="dialog" style="top:10%">
               <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" data-name='customer'>&times;</button>
                    <h4 class="modal-title">Удалить заказ?</h4>
                  </div>
                  <div class="modal-body">
                    <p>Вы действительно хотите удалить заказ №<span class='order-num'></span></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id='btn-delete-order'>Удалить</button>
                    <button type="button" class="btn btn-default" data-name='customer' data-dismiss="modal" id=''>Отмена</button>
                  </div>
                </div>
               </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="well well-2 bg-image bg-image-2 bg-yellow-green">
        {% include 'subscribe.html' %}
        {% block subscribe %}
        {% endblock %}        
      </section>
    </main>
    <footer class="page-footer">
      {% include 'footer.html' %}
      {% block footer %}
      {% endblock %}      
    </footer>
  </div>
  {% include 'scripts.html' %}
  {% block scripts %}
  {% endblock %}
  <script src="/app/views/js/Data_tables.js"></script>
  <script src="/app/views/js/DT_bootstrap.js"></script>
  <script type="text/javascript" src="/app/views/js/jquery.rating.min.js"></script>
  <script src="/app/views/js/jquery.knob.js"></script>

  <!-- jQuery File Upload Dependencies -->
  <script src="/app/views/js/jquery.ui.widget.js"></script>
  <script src="/app/views/js/jquery.iframe-transport.js"></script>
  <script src="/app/views/js/jquery.fileupload.js"></script>
  
  <!-- Our main JS file -->
  <script src="/app/views/js/scriptup.js"></script>
  <script type="text/javascript">
	$(function(){
		$('#rating_3').rating({
			fx: 'float',
	        image: '/app/views/images/stars.png',
	        width: 20,
	        minimal: 0.6,
          	readOnly: true,
			url: 'rating.php'
		});
	})
	</script>
  <script type="text/javascript">
    jQuery(function($){
      $("#phone-customer-profile").mask("+7 (999) 999-99-99");
    });
  </script>
</body>
</html>