{% block subscribe %}
<div class="container">
<!-- 	<h2>Подписывайтесь</h2>
	<div class="row row-xs-center text-center  text-sm-left">
		<div class="col-md-8 col-lg-6">
			<h6 class="text-none text-regular">Введите Ваш email и следите за новостями</h6>
			<form class='rd-mailform' method="post" action="bat/rd-mailform.php">
				<input type="hidden" name="form-type" value="contact"/>
				<fieldset>
					<div class="row text-center text-sm-left">
						<div class="col-sm-8">
							<label data-add-placeholder>
								<input type="text"
									   name="email"
									   placeholder="Ваша почта"
									   data-constraints="@NotEmpty @Email"/>
							</label>
						</div>
						<div class="col-sm-4">
							<div class="mfControls btn-group">
								<button class="btn btn-sm btn-sunglow" type="submit">Подписаться</button>
							</div>
							<div class="mfInfo"></div>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div> -->
</div>
{% endblock %}