<!DOCTYPE html>
<html lang="en" class="wide smoothscroll wow-animation">
<head>
  <!-- Site Title -->
  <title>About</title>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

  <!-- Stylesheets -->
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700%7CExo+2:400,700,900,600,300%7CPT+Sans:400,700%7CRoboto:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css">

  <!--[if lt IE 10]>
  <script src="js/html5shiv.min.js"></script>
  <![endif]-->
</head>
<body>
<!-- The Main Wrapper -->
<div class="page">

  <!--For older internet explorer-->
  <div class="old-ie"
       style='background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;'>
    <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
      <img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820"
           alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
    </a>
  </div>
  <!--END block for older internet explorer-->

  <!--========================================================
                            HEADER
  =========================================================-->
  <header class="page-header bg">
    <!-- RD Navbar -->
    <div class="rd-navbar-wrap">
      <nav class="rd-navbar" data-rd-navbar-lg="rd-navbar-static">
        <div class="rd-navbar-inner">
          <!-- RD Navbar Panel -->
          <div class="rd-navbar-panel">

            <!-- RD Navbar Toggle -->
            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar"><span></span></button>
            <!-- END RD Navbar Toggle -->


            <!-- RD Navbar Brand -->
            <div class="rd-navbar-brand">
              <a href="index.html" class="brand-name">
              </a>
            </div>
            <!-- END RD Navbar Brand -->

            <button class="rd-navbar-toggle list" data-rd-navbar-toggle=".rd-navbar-inline-list"><span></span></button>
          </div>
          <!-- END RD Navbar Panel -->

          <div class="rd-navbar-nav-wrap">

            <!-- RD Navbar Nav -->
            <ul class="rd-navbar-nav">
              <li class="">
                <a href="index.html">Home</a>
              </li>
              <li class="active">
                <a href="index-1.html">About</a>
              </li>
              <li>
                <a href="index-2.html">Cars</a>
                <!-- RD Navbar Dropdown -->
                <ul class="rd-navbar-dropdown">
                  <li>
                    <a href="#">A-Class</a>
                  </li>

                  <li>
                    <a href="#">B-Class</a>
                  </li>
                  <li>
                    <a href="#">C-Class</a>
                    <ul class="rd-navbar-dropdown">
                      <li>
                        <a href='#'>Mercedes-Benz</a>
                      </li>
                      <li>
                        <a href='#'>Audi</a>
                      </li>
                      <li>
                        <a href='#'>BMW</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">E-Class</a>
                  </li>
                  <li>
                    <a href="#">G-Class</a>
                  </li>
                </ul>
                <!-- END RD Navbar Dropdown -->
              </li>
              <li>
                <a href="index-3.html">News</a>
              </li>
              <li>
                <a href="index-4.html">Contacts</a>
              </li>
            </ul>
            <!-- END RD Navbar Nav -->
          </div>

          <ul class="rd-navbar-inline-list">
            <li><a class="icon icon-sm icon-silver fa-facebook" href="#"></a></li>
            <li><a class="icon icon-sm icon-silver fa-twitter" href="#"></a></li>
            <li><a class="icon icon-sm icon-silver fa-instagram" href="#"></a></li>
            <li><a class="icon icon-sm icon-silver fa-google-plus" href="#"></a></li>
          </ul>
          <div class="rd-navbar-contact">
            <a href="callto:#">1-800-1234-567</a>
          </div>
        </div>
      </nav>
    </div>
    <!-- END RD Navbar -->
  </header>
  <!--========================================================
                            CONTENT
  =========================================================-->
  <main class="page-content">
    <!-- About us -->
    <section class="well well-2 bg-image bg-image-1 bg-yellow-green">
      <div class="container">
        <h2>a few words about us</h2>
        <div class="row text-center text-md-left">
          <div class="col-md-6 col-lg-5">
            <img src="images/page-02_img16.jpg" width="470" height="268" alt="" class="">
          </div>
          <div class="col-md-6 col-lg-7">
            <h5>your Car has everything you need to find the best <br class="hidden visible-lg-block">
              car to meet your needs.
            </h5>
            <p>We are an all-in-one resource, providing you with a unique online experience that will help you find the
              perfect car. On our website you can explore our large selection of cars by searching for makes and
              models within price ranges that will fit your needs and budget. We also have a large selection of
              Certified-Pre-Owned used cars.</p>
            <p>A free vehicle history report is available with many of our cars, so you can feel confident about
              the car you select. Our inventory is updated daily, so visit us often and let us help you find the
              car you are looking for.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- END About us -->

    <!-- How to Find the Perfect Car Online -->
    <section class="well well-2 bg-black-haze">
      <div class="container">
        <h2>How to Find the Perfect Car Online</h2>
        <div class="row flow-offset-1 row-sm-middle row-lg-top text-center text-sm-left">
          <div class="col-sm-6 col-md-4 col-lg-3">
            <img src="images/page-02_img17.jpg" width="270" height="235" alt="" class="wow fadeIn">
          </div>
          <div class="col-sm-6 col-md-8 col-lg-3">
            <h4 class="text-primary">Determine the type
              of car</h4>
            <p>Avoid making impulsive decisions and purchasing cars that don't match your lifestyle. Make a list of your
              routine driving needs and select a car that best matches those needs.</p>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 offset-3">
            <img src="images/page-02_img19.jpg" width="270" height="235" alt="" class="wow fadeIn">
          </div>
          <div class="col-sm-6 col-md-8 col-lg-3 offset-3">
            <h4 class="text-primary">Define the features
              you need</h4>
            <p>Just as optional features increase the cost of a new car, they can make a used car more expensive. If you
              won't use a navigation system, for instance, it
              might be cheaper to choose a used car without one.</p>
          </div>


        </div>
        <hr>
        <div class="row flow-offset-1 row-sm-middle row-lg-top text-center text-sm-left">
          <div class="col-sm-6 col-md-4 col-lg-3">
            <img src="images/page-02_img18.jpg" width="270" height="235" alt="" class="wow fadeIn">
          </div>
          <div class="col-sm-6 col-md-8 col-lg-3">
            <h4 class="text-primary">Factor of additional
              costs</h4>
            <p>Apart from the car's selling price, you should also budget for taxes and other fees that often add 10%.
              Once the total cost of the car is determined, look at your financing options to obtain the best deal
              available.</p>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 offset-3">
            <img src="images/page-02_img20.jpg" width="270" height="235" alt="" class="wow fadeIn">
          </div>
          <div class="col-sm-6 col-md-8 col-lg-3 offset-3">
            <h4 class="text-primary">Run a vehicle history
              check</h4>
            <p>Before selecting any used car online, it's advisable to run a vehicle history check to find out if the
              car has been in accidents. A vehicle's history report also provides information on the number of times the
              car was previously sold.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- END How to Find the Perfect Car Online -->

    <!-- Why us? -->
    <section class="well well-2">
      <div class="container">
        <h2>Why us?</h2>
        <div class="row text-center row-sm-center flow-offset-1">
          <div class="col-sm-6 col-lg-4 wow fadeInLeft">
            <div class="inset-3 bg-black-haze">
              <div class="box-1">
                <div class="box-1-top">
                  <span class="icon icon-xl icon-yellow-green fa-thumbs-o-up"></span>
                </div>
                <div class="box-1-bottom box-1-bottom-1">
                  <h4 class="line-height-auto">Trusted</h4>
                  <p class="">Buying a car is an important decision in your life, that is why here at Your Car we ensure
                    that all cars available on our site come from people and dealerships who we are proud to work
                    with.</p>
                  <a href="#" class="btn btn-md btn-sunglow">read more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="inset-3 bg-black-haze">
              <div class="box-1">
                <div class="box-1-top">
                  <span class="icon icon-xl icon-yellow-green fa-check"></span>
                </div>
                <div class="box-1-bottom box-1-bottom-1">
                  <h4 class="line-height-auto">Verified</h4>
                  <p class="">At Your Car, we know that there are
                    a lot of fake advertisements on the internet, that is why we go the extra mile to make sure that
                    every person selling his car on our site is a genuine seller.</p>
                  <a href="#" class="btn btn-md btn-sunglow">read more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 wow fadeInRight">
            <div class="inset-3 bg-black-haze">
              <div class="box-1">
                <div class="box-1-top">
                  <span class="icon icon-xl icon-yellow-green fa-group"></span>
                </div>
                <div class="box-1-bottom box-1-bottom-1">
                  <h4 class="line-height-auto">Reliable</h4>
                  <p class="">We make it our mission to ensure all car listings are real and up to date. To make our
                    site a safe community, we take your complaints seriously and investigate any fraudulent activity
                    immediately.
                  </p>
                  <a href="#" class="btn btn-md btn-sunglow">read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END Why us? -->

    <!-- our customers say -->
    <section class="well well-2 bg-image bg-image-3 bg-yellow-green">
      <div class="container">
        <h2>our customers say</h2>

        <div class="row row-xs-center text-center">
          <div class="col-xs-10 col-sm-8">
            <blockquote class="quote">
                <p class="heading-6 text-regular text-none wow fadeIn">
                  <q class=" wow fadeIn">« I would just like to say thank you for your prompt and effective service, for your friendly and professional
                    support staff! I will recommend your expert company to all my friends. »</q>
                </p>
              <img src="images/page-02_img21.jpg" width="87" height="87" alt="" class="round wow fadeIn">
              <p class="heading-6 text-none">
                <cite class=" wow fadeIn">
                  Mark Johnson, Client
                </cite>
              </p>
            </blockquote>
          </div>
        </div>
      </div>
    </section>
    <!-- END our customers say -->
  </main>
  <!--========================================================
                            FOOTER
  ==========================================================-->
  <footer class="page-footer">
    <div class="container text-center text-sm-left">
      <div class="row flow-offset-1">

        <div class="col-sm-6 col-md-preffix-1 col-md-2 col-sm-push-1 col-md-push-2">
          <ul class="list">
            <li class=""><a href="index.html">Home</a></li>
            <li class="active"><a href="index-1.html">About</a></li>
            <li><a href="index-2.html">Cars</a></li>
            <li><a href="index-3.html">News</a></li>
            <li><a href="index-4.html">Contacts</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3  col-md-push-3 col-sm-push-2">
          <address class="contact-info">
            <a href="#" class="address">4578 69 St, San Diego D04 89GR</a>
            <div>
              <a href="callto:#">1-800-1234-567</a>
            </div>
          </address>
          <ul class="inline-list">
            <li><a class="icon icon-sm icon-primary fa-facebook" href="#"></a></li>
            <li><a class="icon icon-sm icon-primary fa-twitter" href="#"></a></li>
            <li><a class="icon icon-sm icon-primary fa-instagram" href="#"></a></li>
            <li><a class="icon icon-sm icon-primary fa-google-plus" href="#"></a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-preffix-1 col-md-3 col-sm-push-4 col-md-push-4">
          <!-- Facebook widget -->
          <div class="fb-page"
               data-href="https://www.facebook.com/TemplateMonster"
               data-small-header="false"
               data-hide-cta="true"
               data-hide-cover="false"
               data-adapt-conainer-width="true"
               data-show-facepile="true"
               data-show-posts="false">
            <div class="fb-xfbml-parse-ignore">
              <blockquote cite="https://www.facebook.com/TemplateMonster"><a
                  href="https://www.facebook.com/TemplateMonster">Facebook</a>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-2 col-sm-push-3 col-md-push-1">
          <!-- RD Navbar Brand -->
          <div class="rd-navbar-brand">
            <a href="index.html" class="brand-name">
            </a>
          </div>
          <!-- END RD Navbar Brand -->

          <p class="copyright">
            © <span id="copyright-year"></span>
            <a href='index-5.html'>Privacy Policy</a>

          </p>
        </div>
      </div>

    </div>
  </footer>
</div>

<!-- Core Scripts -->
<script src="js/core.min.js"></script>
<!-- Additional Functionality Scripts -->
<script src="js/script.js"></script>
</body>
</html>